<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78c790">  <td>18/09/20 19:52:08</td>   <td>0</td> <td title="&gt;&gt;BaseClass.folderSetup()[pri:0, instance:tests.SearchAPITest@73ad2d6]">&gt;&gt;folderSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="78c790">  <td>18/09/20 19:52:08</td>   <td>216</td> <td title="&lt;&lt;BaseClass.tearDownSuite()[pri:0, instance:tests.SearchAPITest@73ad2d6]">&lt;&lt;tearDownSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
</table>
