<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8f8f71">  <td>18/09/20 23:30:28</td>   <td>0</td> <td title="&gt;&gt;BaseClass.folderSetup()[pri:0, instance:tests.UploadFileTest@4cf777e8]">&gt;&gt;folderSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/20 23:30:28</td>   <td>186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UploadFileTest.setUp()[pri:0, instance:tests.UploadFileTest@4cf777e8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/20 23:30:41</td>   <td>13131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UploadFileTest.uploadFileToDropbox(java.lang.String, java.lang.String)[pri:1, instance:tests.UploadFileTest@4cf777e8]">uploadFileToDropbox</td> 
  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/20 23:31:16</td>   <td>47908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UploadFileTest.closeBrowser()[pri:0, instance:tests.UploadFileTest@4cf777e8]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>18/09/20 23:31:17</td>   <td>48887</td> <td title="&lt;&lt;BaseClass.tearDownSuite()[pri:0, instance:tests.UploadFileTest@4cf777e8]">&lt;&lt;tearDownSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
</table>
